@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@font-face {
    font-family: num;
    src: local("Arial");
    unicode-range: U+30-39;
}
@keyframes slowflow{
    0%{    
        text-shadow: -.05em .1em 0.01em   crimson;
    }
    70%{
        
        text-shadow: -.05em .1em 0.01em   #9C19E0;
    }
    85%{
        
        text-shadow: -.05em .1em 0.01em   #FF5DA2;
    }
    100%{
        text-shadow: -.05em .1em 0.01em   #ee7008;
    }
}
:root{
    --primary: crimson;
    --secondary: beige;
    --card-height: calc( 100vh / 100 * 40 );
    font-size: calc(6px + 1vw);
    overflow-x: hidden;
    font-family: num, 'Raleway', Times, sans-serif;
    font-weight: 400;
}
::-moz-selection{
    background-color: #000000; 
    color:var(--primary); 
}
::selection{
    background-color: #000000; 
    color:var(--primary); 
}
#logo{
    font-size: 1.5em;
    text-shadow: 0 1em 1em 0;
    font-family: 'Kanit', sans-serif;
    animation: slowflow 5s linear infinite alternate;
    z-index:100;
    line-height: 1.5;
    margin-left: .5em;
    -webkit-text-stroke: .05em crimson;
    -webkit-text-fill-color: rgb(0, 0, 0);
}
#burger{
    visibility:hidden;
    display:none;
}
#wlf{
    display: block;
    background-image: url(../imgs/wlfnstn.jpg);
    background-size: cover;

}
#dsr{
    display: block;
    background-image: url(../imgs/js.jpg);
    background-size: cover;
}
#mst{
    display: block;
    background-image: url(../imgs/myst.jpg);
    background-size: cover;

}
.placeholder{
    background-image: url(../imgs/400x400.png);
    min-height: 100px;
    min-width: 100px;
    display: block;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-item{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
li{
    list-style: none;
}
li *{
    padding: 0;
    margin: 0;
}
a{
    background-color:#000000;
    transition: all .15s ;
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-color: var(--primary);
}
a:hover{
    color: var(--primary);
}
/*accordion*/
.accordion-body div{
    padding: 0em 1em .5em 1em;
}

body{
    background-color: #000000;
}
*{
    color:beige
}
/*sections:main*/
section:not( :last-of-type ){
    min-height: 100vh;
}
section{
    padding: 0 1.5rem 0 1.5rem;
}
section h1,
section h2,
section h3{
    margin-top: 0;
    padding-top: 3rem;
    text-align: center;
}

/*sections:1*/
section:nth-of-type(1) h1{
    max-width: 50vw;
    font-size: calc(1rem * 2.5);
    margin-bottom: 1em;
    font-weight: 400;
}
section:nth-of-type(1) p{
    max-width: 45vw;
    font-size: 1.5rem;
    margin-left: 1em;
}
section:nth-of-type(1) #profile{
    background-color:#9C19E0;
    position: absolute;
    display: block;
    right: 0;
    width: 50vw;
    min-height: 100vh;
    background-position: center;
    background-image: url(../imgs/profile.jpg);
    background-size: cover;
    clip-path: polygon(25% 0, 100% 0, 100% 50%, 87.5% 100%, 0 100%);
}


/*sections:2*/
section:nth-of-type(2){
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url(../imgs/back.jpg);
    background-size: cover;
}
section:nth-of-type(2) h1{
    padding-top: 2em;
    font-size: 3em;
}
section:nth-of-type(2) p{
    padding-left: 3em;
    padding-right: 3em;
    font-size: 2em;
    text-align:center;
}

/*sections:3*/
section:nth-of-type(3) .card h1,
section:nth-of-type(3) .card h3{
    padding:0;
    margin:0;
}
section:nth-of-type(3) .card{
    font-size: 1rem;
    margin-top: 2.5%;
    background-color: crimson;
    width: 45vw;
    max-width: 45vw;
    position: relative;
    padding: auto;
    min-height: 40vw;
    border: 1px solid var(--secondary);
    border-radius: .25rem;
}
section:nth-of-type(3) .card .content{
    position: absolute;
    max-width: 75%;
    left:1%;
    right:1%;
    transform: translateY(-50%);
    top: 50%;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
    section:nth-of-type(3) .card .flap{
        transition: opacity ease-out .15s, visibility 0s 0s;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    section:nth-of-type(3) .card .flap:after{
        transition: opacity ease-out .15s, visibility 0s 0s;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 100;
        border-radius: .25rem;
    }
    section:nth-of-type(3) .card:hover .flap{
        
        visibility: hidden;
    }
    section:nth-of-type(3) .card:hover .flap:after{
        transition: opacity ease-out .15s, visibility 0s .15s;
        opacity: 0; 
        visibility:hidden;
    }
section:nth-of-type(3) .content i{
    height: 50%;
    margin-top: 10%;
}
section:nth-of-type(3) .content h1,
section:nth-of-type(3) .content p{
    margin-top: 2.5%;
}
section:nth-of-type(3) .content p{
    margin-bottom: 5%;
}

/*sections:4*/


/* adaptivity redefinition */
@media (max-width: 550px) {
    #profile{
        clip-path:none!important;
        position: relative!important;
        width:100%!important;
    }
    nav{
        font-size: 1.5em;
    }
    nav a{
        padding: .025em 3em .025em 3em;
        background-color: rgb(9, 9, 9);
    }
    nav div{
        margin-bottom: .25em
    }
    section:nth-of-type(3) .card .flap:after{
        content: none!important;
    }
    section:nth-of-type(1) h1{
        max-width: 100%;
    }
    section:nth-of-type(1) p{
        max-width: 100%;
    }
    section:nth-of-type(3) .card{
        min-width: 100%;
        min-height: 80vh;
    } 
    section:nth-of-type(3) .card p{
        font-size: 1.75rem;
    }
    .flex-container{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    #burger{
        visibility:visible;
        display:block;
        margin: 1rem;
        margin-left: auto;
        background-color:#000000;
        color:var(--primary);
        border: 2px solid var(--primary);
        border-radius: 10px;
    }
    section:nth-of-type(5){
        font-size: 2.5rem;
    }
    section:nth-of-type(4){
        font-size: 2rem;
    }
    .accordion-body{
        max-height: 0;
        transition: all .15s;
        overflow: hidden;
    }
    .opened~.accordion-body{
        max-height: calc( (5em + 2.5em) + 1.25em);
    }
    .flex-item{
        max-width: 100%;
    }
}